/* This is the stylesheet for the Wikipedia viewer. It adds style to the index.html page
Author: R. Wood
Date: Sept, 2016 */

/* GENERAL STYLES */

* {
  box-sizing: border-box;
  font-family: 'Source Code Pro', monospace;
}

body {
  background-color: #FFFACD;
}


/* SPECIFIC STYLES */

h1 {
  font-weight: 700;
  font-size: 60px;
}




/* HEADER STYLES */

.header {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 50px;
}



/* MAIN CONTENT STYLES */

.main-content {
  width: 90%;
  height: 1000px;
}

form {
  margin: 50px auto;
}

#search-input {
  width: 400px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  background-color: transparent;
}

#search-input:hover {
  border: 1px solid blue;
}

#search-input:focus {
  width: 1100px;
}

.input-group {
  padding: 5px;
}

.input-group-addon,
.btn {
  background-color: #aaa;
}

#search-input,
.btn {
  font-size: 18px;
}

.btn {
  padding: 5px 15px;
  float: right;
  margin: 3px 5px 3px 10px;
}

.btn:hover {
  border: 1px solid blue;
}

.btn:active {
  padding: 12px 17px;
}

.list-group-item {
  padding: 30px 10px;
  margin: 10px auto;
  border: 2px solid black;
}

.list-group-item:hover {
  border: 2px solid blue;
}

#luck {
  background-color: lightblue;
}



/* FOOTER STYLES */

footer {
  background-color: #aaa;
  width: 100%;
  height: 50px;
  text-align: center;
  padding: 10px 0;
}

footer p {
  color: #fff;
}

.left {
  margin-left: -10px;
}

.right {
  float: right;
  margin-right: 45px;
}
